h1 {
    color: maroon;
    text-align: center;
    font-size: 45px;
    border-bottom: 5px solid;
}

h2 {
    border-bottom: 1px solid maroon;
    color: maroon;
    padding-bottom: 3px;
    margin: 5px 5px 5px 5px;
}

li:hover {
    text-decoration: underline;
    font-size: 18px;
    color: maroon;
}


ul {
    padding: 0 0 0 50px;
}

body {
    text-align: center;
    border: 10px solid black;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    background-color: white;

}

