h1 {
	font-family: 'Allan', Helvetica, Arial, sans-serif;
	font-size: 70px;
	line-height: 75px;
	color: maroon;
}

p {
	font-family: 'Cardo', Georgia, Times, serif;
	font-size: 18px;
	line-height: 25px;
}



h2 {
    font-family: 'Cardo', Georgia, Times, serif;
	font-size: 18px;
	line-height: 25px;
    border-bottom: 1px solid maroon;
    color: maroon;
    padding-bottom: 3px;
    margin: 5px 5px 5px 5px;
}

li:hover {
    text-decoration: underline;
    font-size: 18px;
    color: maroon;
}


ul {
    font-family: 'Cardo', Georgia, Times, serif;
	font-size: 15px;
	line-height: 20px;
    padding: 0 0 0 50px;
}

body {
    background: url(images/pw_pattern.png) repeat 0 0;
    font-family: 'Cardo', Georgia, Times, serif;
	font-size: 13px;
	line-height: 20px;
    text-align: center;
    border: 10px solid black;
    padding: 20px 20px 2000px 20px;
    margin: 0px 0px 0px 0px;
   
   

}


.nav {
	background-color: maroon;
	color: #ffffff;
	list-style: none;
	text-align: center;
}
.nav > li {
	display: inline-block;
	padding: 5px 5px 5px 5px;
}
.nav > li > a {
	text-decoration: none;
	color: #ffffff;
}
.nav > li > a:hover {
	color: #c1c1c1;
}
